In [3]:
import pandas as pd
from pymongo import MongoClient


def _connect_mongo(uri, db):
    """ A util for making a connection to mongo """

    if uri:
#         mongo_uri = 'mongodb://%s:%s@%s:%s/%s' % (username, password, host, port, db)
        conn = MongoClient(uri)
    else:
        conn = MongoClient(host, port)
    return conn[db]

# def _connect_mongo(host, port, username, password, db):
#     """ A util for making a connection to mongo """

#     if username and password:
#         mongo_uri = 'mongodb://%s:%s@%s:%s/%s' % (username, password, host, port, db)
#         conn = MongoClient(mongo_uri)
#     else:
#         conn = MongoClient(host, port)

#     return conn[db]


def read_mongo(uri, db, collection, query={}, no_id=True, limit=None):
    """ Read from Mongo and Store into DataFrame """

    # Connect to MongoDB
    con = _connect_mongo(uri, db)

    # Make a query to the specific DB and Collection
    ### SET THE LIMIT TO 100 FOR DEV AND TESTING ###
    if limit:
        cursor = con[collection].find(query)
        cursor = cursor[limit]
    else:
        cursor = con[collection].find(query)

    # Expand the cursor and construct the DataFrame
    df =  pd.DataFrame(list(cursor))
    # Delete the _id
#     if no_id:
#         del df['_id']
    if limit:
        print(f'number of indexes created has been limited to {limit} ..........................')

    return df

# def read_mongo(db, collection, query={}, host='localhost', port=27017, username=None, password=None, no_id=True):
#     """ Read from Mongo and Store into DataFrame """

#     # Connect to MongoDB
#     db = _connect_mongo(host=host, port=port, username=username, password=password, db=db)

#     # Make a query to the specific DB and Collection
#     cursor = db[collection].find(query)

#     # Expand the cursor and construct the DataFrame
#     df =  pd.DataFrame(list(cursor))

#     # Delete the _id
#     if no_id:
#         del df['_id']

#     return df

def all_keys(d):
    ''' Get all the dicitonary and nested "dot format" nested dictionary keys
    from a dict, add them to a list, return the list.
    
    :param d: A python dictionary
    :return: A list of every key in the dictionary
    '''
    keys = []    
    for key, value in d.items():
        if isinstance(d[key], dict):
            for sub_key in all_keys(value):
                keys.append(f'{key}.{sub_key}')
        else:
            keys.append(str(key))
    return keys

def compare_dicts(one, the_other):
    ''' Compare the values of two dicts, key by common key. When the values are numbers
    return the difference, when strings return 0 if the strings are equal and 1
    if they are different, when dicts run this function, when NoneType set the
    value to None.
    *** When there is a key present in one and not the_other 
    :params one, the_other: dictionaries with the same set of keys and sub-keys
    :type one, the_other: dict
    '''
    
    delta = {}  # The delta document. Contains all the forecast errors
    
    for (k, v) in one.items():
        try:
            # '3h' is often not in the raw data; this handles it when it's not.
            if type(k) == str and k == '3h':
                one[k] = v
            # Check and compare dictionaries according to their value type
            elif type(v) == int or type(v) == float:
                if type(the_other[k]) == int or type(the_other[k]) == float:
                    delta[k] = v - the_other[k]
            elif type(v) == dict:
                delta[k] = compare_dicts(v, the_other[k])
            elif type(v) == str:
                if v == the_other[k]:
                    delta[k] = 0
                else:
                    delta[k] = 1
            elif type(v):
                delta[k] = None
        except KeyError as e:
            print(f'missing key..... {e}')
    return delta

In [4]:
import config

printing uri from forecast-forecast.config-- mongodb+srv://chuckvanhoff:Fe7ePrX%215L5Wh6W@cluster0-anhr9.mongodb.net/

In [5]:
collection = 'legit_inst'
db = 'owmap'
df = read_mongo(config.uri, db, collection, no_id=False, limit=5)

number of indexes created has been limited to 5 ..........................

In [6]:
def read_mongo_a(uri, db, collection, limit=None):
    ''' Retrieve data from the Mongo database and transform it to a pandas
    DataFrame; return the DataFrame.

    :param collection: the collection name
    :type collection: string
    :param limit: optional limiter to the number of documents retrieved. '''
    
    database = _connect_mongo(config.uri, db)
    col = {}
    
    # Shorten the cursor length if limit is given, otherwise get everything;
    # transform the retrieved data to a pandas.DataFrame and return it.
    if limit:
        cursor = database[collection].find({})
        cursor = cursor
        for doc in cursor[:limit]:
            col[doc['_id']] = doc
        # Transform the data collection to a dataframe.
        df = pd.DataFrame.from_dict(col, orient='index')
        print(f'The length of your df has been limited to {limit}.')
        return df
    else:
        cursor = database[collection].find({})
        for doc in cursor:
            col[doc['_id']] = doc
        # Transform the data collection to a dataframe.
        df = pd.DataFrame.from_dict(col, orient='index')
        return df
    
    # Let the user know that even though there were no errors the DataFrame
    # was not created.
    print('From read_mongo(): There were no errors, but your dataframe was not created.')

In [37]:
def all_values(d):
    ''' Get all the dicitonary and nested dictionary keys from a dict, add them
    to a list, return the list.
    
    :param d: A python dictionary
    :return: A list of every key in the dictionary
    '''
    values = []    
    for key, value in d.items():
        if isinstance(d[key], dict):
            for sub_key in all_values(value):
                all_values(value)
#                 values.append(value)
        else:
            values.append(value)
    return values

def flatten(dic):
    ''' Take a dictionary and rewrite in 1D with each value having its full
    key path.
    '''
    
    for key, value in dic:
        pass

In [26]:
df = read_mongo_a(config.uri, db, collection, limit=10)
df.set_index(['_id'])

The length of your df has been limited to 10.

,instant,zipcode,forecasts,weather
_id,,,,
5eba42b80923c58fcff13738,1589695200,27152,"[{'sunset_time': 0, 'sunrise_time': 0, 'clouds...","{'sunset_time': 1589674843, 'sunrise_time': 15..."
5eba42b80923c58fcff13739,1589695200,27155,"[{'sunset_time': 0, 'sunrise_time': 0, 'clouds...","{'sunset_time': 1589674843, 'sunrise_time': 15..."
5eba42b80923c58fcff1373a,1589695200,27157,"[{'sunset_time': 0, 'sunrise_time': 0, 'clouds...","{'sunset_time': 1589674843, 'sunrise_time': 15..."
5eba42b80923c58fcff1373b,1589695200,27198,"[{'sunset_time': 0, 'sunrise_time': 0, 'clouds...","{'sunset_time': 1589674843, 'sunrise_time': 15..."
5eba42b80923c58fcff1373c,1589695200,27199,"[{'sunset_time': 0, 'sunrise_time': 0, 'clouds...","{'sunset_time': 1589674860, 'sunrise_time': 15..."
5eba42b80923c58fcff1373d,1589695200,27201,"[{'sunset_time': 0, 'sunrise_time': 0, 'clouds...","{'sunset_time': 1589674670, 'sunrise_time': 15..."
5eba42b80923c58fcff1373e,1589695200,27202,"[{'sunset_time': 0, 'sunrise_time': 0, 'clouds...","{'sunset_time': 1589674697, 'sunrise_time': 15..."
5eba44200923c58fcff13f50,1589695200,27906,"[{'sunset_time': 0, 'sunrise_time': 0, 'clouds...","{'sunset_time': 1589673918, 'sunrise_time': 15..."
5eba44980923c58fcff14201,1589695200,28097,"[{'sunset_time': 0, 'sunrise_time': 0, 'clouds...","{'sunset_time': 1589674791, 'sunrise_time': 15..."
5eba44980923c58fcff14202,1589695200,28098,"[{'sunset_time': 0, 'sunrise_time': 0, 'clouds...","{'sunset_time': 1589674954, 'sunrise_time': 15..."

In [36]:
# def all_keys(d):
#     ''' Get all the dicitonary and "." format, nested dictionary keys
#     from a dict, add them to a list, return the list.
    
#     :param d: A python dictionary
#     :return: A list of every key in the dictionary
#     '''
#     keys = []    
#     for key, value in d.items():
#         if isinstance(d[key], dict):
#             for sub_key in all_keys(value):
#                 keys.append(f'{key}.{sub_key}')
#         else:
#             keys.append(str(key))
#     return keys

# # dic = 
# df['weather'][0]
print(all_values(dic))
all_keys(dic)
ham = zip(all_keys(dic), all_values(dic))
ham
# flat_weather = dict(zip(all_keys(dic), all_values(dic)))
# flat_weather

[1589674843, 1589624036, 1, 77, 'Clear', 'clear sky', 800, '01n', 16093, None, None, None, 8982]

TypeError: 'zip' object is not subscriptable

In [8]:
errors = []
for (obs, casts) in zip(df['weather'], df['forecasts']):
    error = [compare_dicts(cast, obs) for cast in casts]
    errors.append(error)
df['errors'] = errors
#     for cast in casts:
#         error = [compare_dicts(cast, obs) for cast in casts] 
#         errors.append(error)
#     for casts in df['forecasts']:
#         for cast in casts:
#             errors.append(compare_dicts(cast, obs))
#         print(cast, '\n')
len(errors)

10

In [9]:
df['errors'] = errors
df.head()

,_id,instant,zipcode,forecasts,weather,errors
5eba42b80923c58fcff13738,5eba42b80923c58fcff13738,1589695200,27152,"[{'sunset_time': 0, 'sunrise_time': 0, 'clouds...","{'sunset_time': 1589674843, 'sunrise_time': 15...","[{'sunset_time': -1589674843, 'sunrise_time': ..."
5eba42b80923c58fcff13739,5eba42b80923c58fcff13739,1589695200,27155,"[{'sunset_time': 0, 'sunrise_time': 0, 'clouds...","{'sunset_time': 1589674843, 'sunrise_time': 15...","[{'sunset_time': -1589674843, 'sunrise_time': ..."
5eba42b80923c58fcff1373a,5eba42b80923c58fcff1373a,1589695200,27157,"[{'sunset_time': 0, 'sunrise_time': 0, 'clouds...","{'sunset_time': 1589674843, 'sunrise_time': 15...","[{'sunset_time': -1589674843, 'sunrise_time': ..."
5eba42b80923c58fcff1373b,5eba42b80923c58fcff1373b,1589695200,27198,"[{'sunset_time': 0, 'sunrise_time': 0, 'clouds...","{'sunset_time': 1589674843, 'sunrise_time': 15...","[{'sunset_time': -1589674843, 'sunrise_time': ..."
5eba42b80923c58fcff1373c,5eba42b80923c58fcff1373c,1589695200,27199,"[{'sunset_time': 0, 'sunrise_time': 0, 'clouds...","{'sunset_time': 1589674860, 'sunrise_time': 15...","[{'sunset_time': -1589674860, 'sunrise_time': ..."